<%= render "layouts/header" %>

<div class="section">
  <%= render "dropbox/breadcrumbs" %>
</div>

<div class="section">
  <div class="row subtitle divider">
    Cached versions
  </div>
  <div class="row settings versions">
    <ul> 
      <% @history.each do |rev| %>
        <%= render "layouts/version", :revision => rev%> <!-- TODO: we should probably change where this is stored -->
      <% end %>
    </ul>
</div>
</div>

<div class="section">
  <div class="row subtitle divider">
    Projects
  </div>
  <div class="row settings project_list">
    <%= render "dropbox/projects_dropdown", projects: @projects, model_file: @model_file %>
  </div>
</div>


<script>

//TODO: Move this to its own file (partial for all versions)
$(document).ready(function(){


  //Takes an element and returns JSON with its info
  function getInfoFromElement(el){

    var details;

    if ($(el).is('input')) { //If its the input - we gotta skip a layer and set the message to the right thing (jankkk!)
      details = $(el).val();
      el = $(el).parent();
    } else {
      el = $(el);
      details = null;
    }
    var id = el.siblings('.dropbox').html().trim();
    var date = el.siblings('.date').html().trim();
    return {"id": id, "date": date, "details": details};
  }

  /* UI METHODS to add/remove input */

  //HOVER OVER for marked -> unmark
  $('.settings').on('hover', 'li div.action.marked', function(event){
    event.preventDefault();
    if (event.type == "mouseenter"){
      $(this).addClass('unmark');
    } else {
       $(this).removeClass('unmark');
    }
    
  });

  //Add input on unmarked click
  $('.settings.versions').on('click', 'li div.action.unmarked', function(){
    console.log("click");
    var parent = $($(this).parent());
    var input_element = "<input type='text' placeholder='Enter commit message here'>";
    parent.find('.message').html(input_element);
    parent.find('.message').find('input').focus();
  });

  //Input enter just blurs it (only for versions)
  $('.settings.versions').on('keyup', 'li .message input', function(event){
    if (event.keyCode == 13) {
        $(this).blur();
    }
  });

  /* ACTION METHODS FOR VERSIONS! */

  //On input blur (finished typing) -> Post new version to DB
  $('.settings.versions').on('blur', 'li .message input', function(event) {
    var elJson = getInfoFromElement(this);
    console.log(elJson);
    $.ajax({
      type: "POST",
      url: '/model_files/' + "<%= @model.id  %>" + '/versions',
      data: {
        "revision_number": elJson.id,
        "details": elJson.details,
        "revision_date": elJson.date
      },
      error: AJAXerrorHandler
    });
  });


  //On unmark click -> Rollback (delete) version from db
  $('.settings.versions').on('click', 'li div.action.marked.unmark', function(){
    console.log(this);
    $.ajax({
        url: '/versions/'+ getInfoFromElement(this).id,
        type: 'DELETE',
        error: AJAXerrorHandler
      });
  });

});

</script>
