<%= render "dropbox/breadcrumbs" %>

<%= render "model_files/model_viewer" %>
<script>
$(document).ready(function(){

  $(':checkbox').change(function(){ 
  
  var children = $(this).parent().parent().children();

  var versionNumber =  $(children[0]).html().trim();
  var revisionNumber = $(children[1]).html().trim();

  console.log(versionNumber);
  console.log(revisionNumber);

  if($(this).is(':checked')) {
    
    $.post('/model_files/' + <%= @model.id %> + '/revisions', {"revision_number": versionNumber}, function(data){
      console.log($(this).parent().find(".fabbit"));
      $(children[1]).html(data);
    });

  } else {
    
    $.ajax({
      url: '/revisions/' + revisionNumber  ,
      type: 'DELETE',
      data: revisionNumber,
      success: function(result) {
          $(children[1]).html('x');
      }
    });
  }

  });

});
</script>
<div class="row versions">
  <ul>
    <li class="subtitle"> 
      <div class="name"> Version number</div>
      <div class="name"> Revision number</div>
      <div class="date"> Last changed</div>
      <div class="check"> Is revision </div>
    </li>
    <% @dropbox_revisions.each do |revision| %>
    <li>      
      <div class="name dropbox"> <%= revision[:rev] %></div>
      <div class="name fabbit"> <%= revision[:revision_obj] ? revision[:revision_obj].id : "x" %>  </div>
      <div class="date"> <%= revision[:modified] %> </div>
      <div class="check"> <input type="checkbox" <%= revision[:revision_obj] ? "checked" : "" %> </div>
    </li>
    <% end %>
  </ul>
</div>


