<%= render "dropbox/breadcrumbs" %>

<script>

var dropbox_to_version = {};

function addMap(dropbox_id, version){
  console.log("DO THINGS");
  dropbox_to_version[dropbox_id] = version;
}

$(document).ready(function(){



  //HOVER OVER for marked -> unmark
  $('.versions').on('hover', 'div.action.marked', function(event){
    event.preventDefault();
    if (event.type == "mouseenter"){
      $(this).addClass('unmark');
    } else {
       $(this).removeClass('unmark');
    }
    
  });

  //Add input on unmarked click
  $('.versions').on('click', 'div.action.unmarked', function(){
    var parent = $($(this).parent());
    var input_element = "<input type='text' placeholder='Enter commit message here'>";
    parent.find('.message').html(input_element);
    parent.find('.message').find('input').focus();
  });

  //Input enter just blurs it
  $('.versions .message').on('keyup', 'input', function(event){
    if (event.keyCode == 13) {
        $(this).blur();
    }
  });

  //Blur calls success
  $('.versions .message').on('blur', 'input', function(event){
    //TODO: BLUR IS BEING CALLED TWICE SO THATS TWO POSTS!!
    submitMessage(this); 
  });

  //Post new revision and update ui
  function submitMessage(element){

    //Update the message to be accurate
    var message_element = $(element).parent();
    var message = $(element).val(); //TODO: Error if value is empty!!!

    //Get the dropbox id and date
    var dropbox_id = message_element.parent().find('.dropbox').html().trim();
    var dropbox_date = message_element.parent().find('.date').html().trim();
    var action_element = message_element.parent().find('.action');

    //Post both of them
    $.post('/model_files/' + <%= @model.id %> + '/versions', {"revision_number": dropbox_id, "details": message, "revision_date": dropbox_date}, function(data){
      
      //Update the action ui
      console.log(action_element);
      action_element.removeClass('unmarked');
      action_element.addClass('marked');

      //Update the message ui
      message_element.html(message); 
      action_element.mouseout();

      dropbox_to_version[dropbox_id] = data;

    });
  }

  //Unmark click deletes it
  $('.versions').on('click', 'div.action.marked.unmark', function(){
    
    var dropbox_id = $(this).parent().find('.dropbox').html().trim();
    var version_id = dropbox_to_version[dropbox_id];
    var action_element = $(this).parent().find('.action');
    var message_element = $(this).parent().find('.message');

    $.ajax({
      url: '/versions/' + version_id,
      type: 'DELETE',
      success: function(result) {
          
          //Update the action ui
          action_element.removeClass('marked');
          action_element.addClass('unmarked');

          //Update the message ui
         message_element.html("");  
      }
    });
  });

});
</script>

<div class="row versions">
  <ul>
    <li class="subtitle"> 
      <div class="dropbox"> Version number</div>
      <div class="date"> Last changed</div>
      <div class="action"> </div>
      <div class="message"> Commit message </div>
    </li>

    <% @dropbox_revisions.each do |revision| %>
    <li>
      <div class="dropbox"> <%= revision[:rev] %> </div>
      <div class="date"> <%= revision[:modified].to_datetime.strftime("%B %d, %Y") %> </div>
      <div class=" <%= revision[:version] ? "action marked" : "action unmarked" %>" > </div>
      <div class="message"> <%= revision[:details] %> </div>
      <script>
        <% if revision[:version] %>
          addMap("<%= revision[:rev] %>", "<%= revision[:version].id %>");
        <% end %>
      </script>
    </li>
    <% end %>

  </ul>
</div>
