<%= render "layouts/header" %>

<section>

  <%= render "dropbox/breadcrumbs" %>
  <ul class="row files">
    <% @contents.each do |content| %>
      <%= render "dropbox/content", content: content %>
     
      <script>
        //This section makes the whole thing clickable - but we remove it for now because it fucks with the opener
        //  $(".files .inset").click(function(){
        //    var h = this.children[0].children[0];
        //    console.log(h);
        //    window.location = h;
        // });

        //This project opens and closes the project list
        $('.inset .project_list .opener').toggle(
          function() { console.log($(this).siblings()); $(this).next().show(); }, 
          function() { $(this).next().hide(); }
        );


        //This function keep tracks of checkbox toggling
        $('.inset .project_list ul li input').change(function(){
          
          var id = $(this).parent().attr('id');
          var model_file_id = $(this).parent().parent().parent().parent().attr('id') 
          //var model_file_id = "<%= content[:model_file_id] %>"; //KTODO: this is what we should be doing, but it don't work :\

          if (this.checked) {
            console.log("POSTING " + id); 
            $.post('/project_model_files/', {"project_id": id, "model_file_id": model_file_id}, function(data) {
              console.log(data);
            });
          } else {
            console.log("DELETING " + id);
            $.ajax({
              url: '#' + id,
              type: 'DELETE',
              success: function(result) {
                console.log(result);
              }
            });
          }
        })
      </script>

    <% end %>
  </ul>
</section>

<section class="projects">
  <div class="row navigate">
    <div class="add"> 
       <div class="subtitle green" id="add_project"> <span> + </span> Add a project   </div>

         <%= form_for @new_project, url: {action: :create, controller: :projects}, html: {class: "form", id: "project_form", remote: true} do |f| %>
                <%= f.text_field :name,  :placeholder => "Project name", :value => "Default project", :size => "20" %>
                <%= f.submit "Create project" %>
        <% end %>

        <script>
        $("#add_project").toggle(
          function(){ $("#project_form").show(); $("#project_form").find('input[type=text]')[0].focus(); $(this).find('span').html("-"); },
          function(){ $("#project_form").hide(); $(this).find('span').html("+"); }
          )
        </script>
     </div>  <!-- TODO: Currently the entire css for breadcrumbs is very janky -->

    <ul class="subtitle crumbs green">
      <li> <a href="#">Your projects </a>   </li>
      <li></li>
    </ul>
  </div>

  <ul class="row files">
    <%= render @projects, view: :nav_view %>
  </ul>

</section>
