<%= render "layouts/header" %>

<section>

  <%= render "dropbox/breadcrumbs" %>
  <ul class="row files">

    <% @contents.each do |content| %>
      <li <%= raw content[:is_dir] ? "class='inset blue' " : "class='inset gray'" %> >
        <div> <%= link_to content[:content], content[:link] %> </div>
        <div > In x projects </div>
        <div> Last viewed x months </div>
        <%= raw content [:is_dir] ? " " : "
                  <div class='project_list'> 
                    <div class='opener'> v </div> 
                    <ul>
                      <li id='project_id_1'> <input type='checkbox' > Projectasdadasdasd 1 </li> 
                      <li id='project_id_2'> <input type='checkbox' > Project 2 </li>
                    </ul>
                  </div>" %>
      </li>
    <% end %>
    <script>
    //This section makes the whole thing clickable - but we remove it for now because it fucks with the opener
    //  $(".files .inset").click(function(){
  	//    var h = this.children[0].children[0];
  	//    console.log(h);
  	//    window.location = h;
  	// });

    //This project opens and closes the project list
    $('.inset .project_list .opener').toggle(
      function() { console.log($(this).siblings()); $(this).next().show(); }, 
      function() { $(this).next().hide(); }
    );


    //This function keep tracks of checkbox toggling
    $('.inset .project_list ul li input').change(function(){
      
      var id = $(this).parent().attr('id');
      
      if (this.checked) {
        console.log("POSTING " + id);
        $.post('#', {"project_id" :id} , function(data){
          console.log(data);
        });
      } else {
        console.log("DELETING " + id);
        $.ajax({
          url: '#' + id,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
          }
        });
      }
    })

    </script>
  </ul>
</section>

<section>
  <div class="row navigate projects">
    <ul class="subtitle crumbs green">
      <li> <a href="#"> Your projects </a> </li>
      <li></li>
    </ul>
  </div>

  <ul class="row files">
    <li class="inset green" >
      <div> Folder name </div>
      <div> 3 files </div>
    <div> x Participants </div>
  </li>
</section>
