<ul class="row files list">
    <% if directory[:is_dir] %>
      <li class="folder" data-path="<%= directory[:path] %>">
        <div class="action opener">  </div>
        <div class="name"><%= directory[:name] %></div>

        <% directory[:content].each do |item| %>
          <%= render "layouts/directory", directory: item %>
        <% end %>
      </li>
    <% else %>
      <li class="file" data-path="<%= directory[:path] %>">
        <div class="action">
          <input type="checkbox" <%= "checked" if directory[:in_project] %>>
        </div>
        <div class="name"><%= directory[:name] %></div>
      </li>
    <% end %>
</ul>
