
<div class="row header">
	<div class="messageWrapper">
  		<div class="messageDialogue" id="errorMessage">
			Default error message
  		</div>
  	</div>
  	<div class="messageWrapper">
  		<div class="messageDialogue" id="progressMessage">
  			<img src="http://i.forbesimg.com/assets/img/loading_spinners/43px_on_transparent.gif"> Fabbit is busy! 
  		</div>
  	</div>
    <div class="popover" id="input_popover">
      <div class="box">
        <div class="closer"> x </div>
        <div class="content">
          <div class="row space"> Add a new annotation </div>
          <div class="row space"> <input type="text" placeholder="Enter annotation name" id="annot_input" /> </div>
          <div class="row"> <div class="submit inset green" id="annot_submit" > Submit </div> </div>
        </div>
      </div>
    </div>

  		<script>

      //Input getting functions!

      $(".popover .box").on("click",".closer", function(el) {
        $(this).parent().parent().hide();
      });

      function getInput(callback,point) {
        $("#input_popover").show();
        $("#annot_input").focus();

        $("#input_popover .box .closer").unbind("click");
        $("#input_popover .box .closer").click(function(){
          $("#annot_input").val("");
          callback("", null);
        });


        function returnInput(){
          var value = $($("#annot_input")[0]).val();
          $("#input_popover").hide();
          $("#annot_input").val("");
          callback(value,point);
        }
        
        $("#input_popover #annot_input").unbind("keypress");
        $("#input_popover #annot_input").keypress(function(e){
          if (e.which == 13) {
            returnInput();
          }
        })

        $("#input_popover #annot_submit").unbind("click");
        $("#input_popover #annot_submit").click(function(){
          returnInput();
        });


      }
    

  		//Error handling UI function
  		function displayError(message){
  				$("#errorMessage").html("Oops: " + message);
  				$("#errorMessage").fadeIn(300).delay(5000).fadeOut(300);
  		}

  			//Error handling AJAX function - to be used as callback for AJAX errors
			function AJAXerrorHandler(request, textStatus, errorThrown) {
			      console.log(request);
			      var message = (request.status == 403) ? request.responseText : "An unknown error has occured";
			      displayError(message);
			}

			$.ajaxSetup({
			    beforeSend: function() {
			        $("#progressMessage").fadeIn(300);
			    },
			    complete: function() {
			        $("#progressMessage").fadeOut(300);
			    }
			});

      //Dropdown functions!
      $(document).ready(function(){

        $(".dropdown li:first-child").toggle(

        	//One expand add class and post
          function(){ 
          	$(this).parent().addClass("expanded");
            $(this).removeClass("red");
            console.log(this);
  	    	 	//Do a post
            if ($(this).parent().parent().hasClass('notifications')) {
         	    $.ajax({
	           		type: "PUT",
	           		url: "<%= j notification_url(current_member.notification) %>",
	           		data: {"count": $(".notifications .unread").size()},
	           		error: AJAXerrorHandler
	           	});  
            }
          }, 
          //On collapse collapse, unless its permenant
          function(){ 
          	if (!$(this).parent().hasClass('perm'))
          		$(this).parent().removeClass("expanded");
          	}
          );
      });


  		</script>
  	<div class="logo title"> <%= link_to Fabbit, navigate_url %> </div>
  	<div class="right notifications">
		<ul class="dropdown">
        	<%= render "notifications/notifications", notifications: @notifications, dropdown: true %>
        	<li> <%= link_to "See all notifications", notifications_url %> </li>

	    </ul>
	</div>
	<div class="right member"> 
		<ul class="dropdown">
			<li class="subtitle" id="me"> <%= current_member.name %> </li>
			<li> Your account </li>
			<li> Logout </li>
		</ul>
	</div>
</div>
