
<div class="row header">
	<div class="messageWrapper">
  		<div class="messageDialogue" id="errorMessage">
			Default error message
  		</div>
  	</div>
  	<div class="messageWrapper">
  		<div class="messageDialogue" id="progressMessage">
  			<img src="http://i.forbesimg.com/assets/img/loading_spinners/43px_on_transparent.gif"> Fabbit is busy! 
  		</div>
  	</div>
  	<div class="logo title"> <%= link_to Fabbit, navigate_url %> </div>
    <% if current_member.admin? %>
    	<div class="right notifications">
  		<ul class="dropdown">
          	<%= render "notifications/notifications", notifications: @notifications, dropdown: true %>
          	<li> <%= link_to "See all notifications", notifications_url %> </li>

  	    </ul>
  	   </div>
    <% end %>
	<div class="right member">
		<ul class="dropdown">
			<li class="subtitle" id="me"> <script> var s = "<%= current_member.name %>"; document.write(s.split(" ")[0]); </script> </li>
      <li> <%= link_to "Logout", signout_url, method: "delete" %> </li>
		</ul>
	</div>
</div>
