
<div class="row header">
	<div class="messageWrapper">
  		<div class="messageDialogue" id="errorMessage">
			Default error message
  		</div>
  	</div>
  	<div class="messageWrapper">
  		<div class="messageDialogue" id="progressMessage">
  			<img src="http://i.forbesimg.com/assets/img/loading_spinners/43px_on_transparent.gif"> Fabbit is busy! 
  		</div>
  	</div>
    

  		<script>

      $('body').click(function(event){
        console.log(event.target);
        $(".dropdown").each(function(i,el){
          if (!$(el).hasClass('perm'))
              $(el).removeClass("expanded");
            
        });

      });

  		//Error handling UI function
  		function displayError(message){
  				$("#errorMessage").html("Oops: " + message);
  				$("#errorMessage").fadeIn(300).delay(5000).fadeOut(300);
  		}

  			//Error handling AJAX function - to be used as callback for AJAX errors
			function AJAXerrorHandler(request, textStatus, errorThrown) {
			      console.log(request);
			      var message = (request.status == 403) ? request.responseText : "An unknown error has occured";
			      displayError(message);
			}

			$.ajaxSetup({
			    beforeSend: function() {
			        $("#progressMessage").fadeIn(300);
			    },
			    complete: function() {
			        $("#progressMessage").fadeOut(300);
			    }
			});

      //Dropdown functions!
      $(document).ready(function(){

        $(".dropdown li:first-child").toggle(

        	//One expand add class and post
          function(){ 
          	$(this).parent().addClass("expanded");
            $(this).removeClass("red");
            console.log(this);
  	    	 	//Do a post
            if ($(this).parent().parent().hasClass('notifications')) {
         	    $.ajax({
	           		type: "PUT",
	           		url: "<%= j notification_url(current_member.notification) %>",
	           		data: {"count": $(".notifications .unread").size()},
	           		error: AJAXerrorHandler
	           	});  
            }
          }, 
          //On collapse collapse, unless its permenant
          function(){ 
          	if (!$(this).parent().hasClass('perm'))
          		$(this).parent().removeClass("expanded");
          	}
          );
      });


  	</script>
  	<div class="logo title"> <%= link_to Fabbit, navigate_url %> </div>
    <% if current_member.admin? %>
    	<div class="right notifications">
  		<ul class="dropdown">
          	<%= render "notifications/notifications", notifications: @notifications, dropdown: true %>
          	<li> <%= link_to "See all notifications", notifications_url %> </li>

  	    </ul>
  	   </div>
    <% end %>
	<div class="right member">
		<ul class="dropdown">
			<li class="subtitle" id="me"> <script> var s = "<%= current_member.name %>"; document.write(s.split(" ")[0]); </script> </li>
      <li> <%= link_to "Logout", signout_url, method: "delete" %> </li>
		</ul>
	</div>
</div>
