<div class="row navigate">

  <ul class="subtitle crumbs <%= "green" if @project %>">
    <%= render "layouts/breadcrumbs" %>

    <% if @model_file and current_member.owns?(@model_file) # change to only hide see all %>
      <%= render "versions/versions_dropdown" %>
    <% end %>
  </ul>

  <% if @model_file and current_member.owns?(@model_file) %>
    <%= render "model_files/settings_icon" %>
  <% end %>


  <% if @model_file and current_member.admin? %>
    <%= render "model_files/download_icon" %>
  <% end %>


  <% if @show_manage_project %>
    <%= render "projects/add_files" %>
  <% end %>

</div>
