<div class="row navigate">

  <ul class="subtitle crumbs <%= "green" if @project %>">
    <%= render "layouts/breadcrumbs" %>

    <% if @model_file %>
      <%= render "versions/versions_dropdown" %>
    <% end %>
  </ul>

  <% if @model_file %>
    <%= render "model_files/settings_icon" %>
  <% end %>

  <% if @show_manage_project %>
    <%= render "projects/add_files" %>
  <% end %>
</div>
