<!DOCTYPE html>
<html>
<head>
  <title>Fabbit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/header" unless @disable_header %>
    <%= yield %>
  </div>
  <% if not debug_list.empty? %>
    <div>
      <%= debug_list.inspect %>
    </div>
  <% end %>
</body>
</html>
